<?xml version="1.0" encoding="utf-8" ?>

<ApplicationSettings>
	<xmlSerializerSection type="Mulch_Shared.Utils.ApplicationSettings, Mulch_Shared, Version=1.0.*, Culture=neutral, PublicKeyToken=null">
		<ApplicationSettings>
      <!--Mail Server-->
			<MailServer>smtp.lmbps.com</MailServer>

      <!--From Address-->
			<MailFrom>asknlectc@nlectc.org</MailFrom>
      
      <!--To Address-->
      <MailTo>paul.k.helmbrecht@lmco.com;irina.r.drachenko@lmco.com;jason.g.cheshire@lmco.com</MailTo>

      <!--Request Confirmation-->
      <RequestConfirmEmailSubject>Field Search Software Request (Dev)</RequestConfirmEmailSubject>
      <RequestConfirmEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        Thank you for your request for the Field Search software. You will receive a response from NLECTC-National within five business days. 
        &lt;br/&gt;
        If your request is approved, you will receive an email with instructions and a password for downloading the software. 
        &lt;br/&gt;
        &lt;br/&gt;
        Your user ID for the download is your email address: {1}
        &lt;br/&gt;
        Please save or print this email for your records
        &lt;br/&gt;
        &lt;br/&gt;
        If you have questions concerning your request, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20Registration%20Confirmation%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.

      </RequestConfirmEmailBody>

      <RequestConfirmText>
        Thank you {0}, for your request for the Field Search software.
        &lt;br/&gt;
        &lt;br/&gt;
        You will receive a response from NLECTC-National within 5 business days.
        &lt;br/&gt;
        If your request is approved, you will receive an email with instructions and a password for downloading the software.
        &lt;br/&gt;
        &lt;br/&gt;
        Your user id for the download is your email address: {1}.
        &lt;br/&gt;
        &lt;br/&gt;
        &lt;b&gt;Please save or print this page for your records. &lt;/b&gt;
        
      </RequestConfirmText>

      <!--Request Approved-->
      <RequestApproveEmailSubject>Field Search Request Approved (DEV)</RequestApproveEmailSubject>
      <RequestApproveEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        Your request to download the National Law Enforcement and Corrections Technology Center’s Field Search Software is approved. 
        &lt;br/&gt;
        &lt;br/&gt;
        Your User Name is &lt;b&gt;{1}&lt;/b&gt;
        &lt;br/&gt;
        Your temporary password is &lt;b&gt;{2}&lt;/b&gt; 
        &lt;br/&gt;
        &lt;br/&gt;
        Upon first logging on to the system, you will be prompted to change your password and provide security questions and answers that will be used should you need to reset your password at any time.
        &lt;br/&gt;
        It is very important that you remember your password and those answers EXACTLY. Remember the punctuation and capitalization of your responses because they will have to be entered the same way in order to get your password reset.
        &lt;br/&gt;
        &lt;br/&gt;
        You are permitted to download the software up to &lt;b&gt;Five&lt;/b&gt; times. The password will expire after that point.
        &lt;br/&gt;
        &lt;br/&gt;
        Please go to {3}login.aspx to logon to the site and download the software.
        &lt;br/&gt;
        &lt;br/&gt;
        If you have questions concerning your request, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20Registration%20Approved%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.

      </RequestApproveEmailBody>
      
      <!--Request Rejected-->
      <RequestRejectEmailSubject>Field Search Request Rejected (DEV)</RequestRejectEmailSubject>
      <RequestRejectEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        Your request to download the National Law Enforcement and Corrections Technology Center’s FieldSearch Software has been rejected. 
        &lt;br/&gt;
        If you feel this decision is in error, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20Rejection%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.
        &lt;br/&gt;
        &lt;br/&gt;
        Notes From Administrator:
        &lt;br/&gt;
        &lt;br/&gt;
        {1}
       </RequestRejectEmailBody>
      <PublicResetLegacyPwdEmailSubject>Field Search Password (DEV)</PublicResetLegacyPwdEmailSubject>
      <PublicResetLegacyPwdEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        Your password to Field Search has been sent.
        &lt;br/&gt;
        &lt;br/&gt;
        Your Login Id is; {1}
        &lt;br/&gt;
        Your Password is; {2}
        &lt;br/&gt;
        &lt;br/&gt;
        Please go to {3}login.aspx and follow Option 1 on the screen.  This will take you to a page where you can set up your new account.
        &lt;br/&gt;
        You will be asked to create a new "strong" password which meets our criteria.  You will also select and answer 2 security questions which are used in the event you forget your password.  
        &lt;br/&gt;
        It is very important that you remember your password and those answers EXACTLY. Remember the punctuation and capitalization of your responses because they will have to be entered the same way in order to get your password reset.
        &lt;br/&gt;
        &lt;br/&gt;
        If you have questions concerning your account, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20Legacy%20Password%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.


      </PublicResetLegacyPwdEmailBody>
      <ResetGuamPwdEmailSubject>Field Search Password Reset (DEV)</ResetGuamPwdEmailSubject>
      <ResetGuamPwdEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        Your password to Field Search has been reset.
        &lt;br/&gt;
        &lt;br/&gt;
        Your Login Id is; {1}
        &lt;br/&gt;
        Your Temporary Password is; {2}
        &lt;br/&gt;
        &lt;br/&gt;
        Please go to {3}login.aspx and login on the screen.  You will be asked to change your temporary password
        when you login.
        &lt;br/&gt;
        It is very important that you remember your password and those answers EXACTLY. Remember the punctuation and capitalization of your responses because they will have to be entered the same way in order to get your password reset.
        &lt;br/&gt;
        &lt;br/&gt;
        If you have questions concerning your account, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20Password%20Reset%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.

      </ResetGuamPwdEmailBody>
      <CreateAdminUserEmailSubject>Field Search Admin Account Created (DEV)</CreateAdminUserEmailSubject>
      <CreateAdminUserEmailBody>
        {0},
        &lt;br/&gt;
        &lt;br/&gt;
        An administrator account has been created for you on the National Law Enforcement and Corrections Technology Center’s FieldSearch web site.
        &lt;br/&gt;
        &lt;br/&gt;
        Your User Name is &lt;b&gt;{1}&lt;/b&gt;
        &lt;br/&gt;
        Your temporary password is &lt;b&gt;{2}&lt;/b&gt;
        &lt;br/&gt;
        &lt;br/&gt;
        Upon first logging on to the system, you will be prompted to change your password and provide security questions and answers that will be used should you need to reset your password at any time.
        &lt;br/&gt;
        It is very important that you remember your password and those answers EXACTLY. Remember the punctuation and capitalization of your responses because they will have to be entered the same way in order to get your password reset.
        &lt;br/&gt;
        &lt;br/&gt;
        Please go to {3}admin/adminlogin.aspx to logon to the site and finish setting up your account.
        &lt;br/&gt;
        &lt;br/&gt;
        If you have questions concerning your account, please contact NLECTC-National at &lt;a href='mailto:asknlectc@justnet.org?subject=FieldSearch%20New%20Admin%20Account%20Inquiry'&gt;asknlectc@justnet.org&lt;/a&gt;  or (800) 248-2742.



      </CreateAdminUserEmailBody>
      
    </ApplicationSettings>
	</xmlSerializerSection>
</ApplicationSettings>
