<?xml version="1.0" encoding="utf-8"?>
<loggingDistributorConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Logging.Distributor.Configuration.DistributorSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=1.1.0.0, Culture=neutral, PublicKeyToken=4fb825bb97e42a56">
    <enterpriseLibrary.loggingDistributorSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultCategory="General" defaultFormatter="Text Formatter" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/loggingdistributor">
      <sinks>
        <sink xsi:type="FlatFileSinkData" name="Flat File Sink" fileName="C:\WebErrorLogs\Mulch_Error.log" header="----------------------------------------Header----------------------------------------" footer="----------------------------------------Footer----------------------------------------" />
      </sinks>
      <categories>
        <category name="General">
          <destinations>
            <destination name="LogToFileFieldSearch" sink="Flat File Sink" format="Text Formatter" />
          </destinations>
        </category>
        <category name="Trace">
          <destinations>
            <destination name="Flat File Destination" sink="Flat File Sink" format="Text Formatter" />
          </destinations>
        </category>
      </categories>
      <formatters>
        <formatter xsi:type="TextFormatterData" name="Text Formatter">
          <template>
            <![CDATA[Timestamp: {timestamp}
Message: {message}
Category: {category}
)}]]>
          </template>
        </formatter>
      </formatters>
    </enterpriseLibrary.loggingDistributorSettings>
  </xmlSerializerSection>
</loggingDistributorConfiguration>